.hero {
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                                url("..//..//assets/hero-bg.jpg");
    background-size: cover;
    padding: 0 0 178px;

&-partners {
    display: flex;
    align-items: center;
    &-item {
    margin-left: 60px;
        &:first-child {
        margin-left: 0;
        }
    }
}


&-navigation {
    margin-top: 0px;
    
    
    &-item {
        text-decoration: none;
        font-weight: normal;
        font-size: 19px;
        line-height: 22px;
        color: #ffffff;
        margin-left: 30px;
        &:first-child {margin-left: 0;
        }
        &:hover {color: #B78A3F;}
    }
}

&-title {
    font-weight: normal;
font-size: 57px;
line-height: 67px;
color: #FFFFFF;
margin: 90px 0 132px;
width: 664px;
}

&-link {
    display: inline-block;
    color: #FFFFFF;
    background: #B78A3F;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    padding: 35px 151px;
    text-decoration: none;
    &:hover {color: #0000009d;}

    
}


}

