.footer {
    //граница верхняя для футера
    border-top: 2px solid #ffffff;
    @media (min-width: 576px){   }

&-partners {
    display: flex;
    //вертикально центрированы
    align-items: center;
    //vertical-align: middle;
    //justify-content: space-between;
    
    width: 100%;
    height: auto;
    margin-bottom: 60px;
   /* @media (min-width: 576px){
      width: 50%;
      height: 70px;
      margin-bottom: 35px;}*/

    &-item {     
        margin-right: 120px;
        max-width: 10%;
        height: auto;
        &:last-child {
            margin-right: 0px;
        }
    }
    }



&-text-wrap {
        display: flex;
        justify-content: space-between;

        

    }

&-nav {
        display: flex;
        flex-direction: column; //столбиком 
        margin-bottom: 70px;
        &-link {
            font-weight: normal;
            font-size: 17px;
            line-height: 20px;
            text-decoration: none;
            margin-bottom: 20px;
            color: #ffffff;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-text {
            width: 366px;
            font-weight: normal;
            font-size: 17px;
            line-height: 20px;
            color: #ffffff;

            }
    }

&-text {
    display: flex;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #ffffff;
        margin-bottom: 11px;
        text-decoration: none;
    }


.text-yelow {
color: #EDE852;
}
}
